.modal {
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  height: 40%;
  overflow: auto;
  background-color: antiquewhite;
  margin: 0 auto;
  padding: 10%;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
}
